.caravan-features {
  background-color: #31b675;
  color: white;
  padding: 50px;
}

.caravan-features ul {
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  margin-top: 20px; /* Add margin top if necessary */
}
