footer {
  background-color: #000;
  color: white;
  padding: 50px 0;
}

.container.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-bottom: 25px;
}

.box {
  padding: 0 20px; /* Adjust padding as needed */
}

footer .box h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}

footer .box p {
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.6;
}

footer .box ul {
  list-style: none;
  padding: 0;
}

footer .box ul li {
  margin-bottom: 10px;
}

footer .box ul li a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

footer .box ul li a:hover {
  opacity: 1;
}

footer .box input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  margin-bottom: 10px;
}

footer .box button.primary-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer .box button.primary-btn:hover {
  background-color: #0056b3;
}

footer .legal {
  text-align: center;
  padding: 20px;
  background-color: #000;
  border-top: 1px solid #666;
  color: white;
  font-size: 12px;
  opacity: 0.8;
}
